# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
venv1/
env/
.venv/
node_modules/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.out
*.err

# Data
dataset/
data/
images/
software_builds/admin_client/backend/uploads/
manual_checks.jsonl
software_builds/field_client/backend/verifications/decided/
software_builds/field_client/backend/verifications/pending/
software_builds/field_client/backend/verifications/verifications.jsonl

# Embeddings / Hypervectors
embeddings/
hypervectors/
*.npy
*.npz
security/mini_db/





